
#mailerror,
#pwderror {
    display: none;
}
.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.title{
    text-align: center;
}
input[type]{
    margin-left: 20px;
}

label{
    width: 200px;
}

.error-text{
    color:red;
}