.addtaskbtn-wrapper{
    display:flex;
    flex-wrap:wrap;
    margin:20px 0 10px 0;
}

#addtaskinput{
    margin-right:10px;
}

th{
width:150px;
}

.task{
    margin-right:10px;
}

.edit{
    color:white;
   background-color:green;
   
}

.delete{
    color:white;
    background-color:red;
}

.add{
    color:white;
    background-color:blue;
}

.container{
    /* max-width:4px; */
    margin:0 auto;
}